@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Gluten:wght@100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Special+Gothic+Expanded+One&display=swap');

body {
  @apply overflow-x-hidden bg-[#F0ECE3] text-[#1B1814] antialiased
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.font-gluten {
  font-family: "Gluten", cursive;
}

.font-jetbrains {
  font-family: "JetBrains Mono", monospace;
}

.font-montserrat {
  font-family: "Montserrat", sans-serif;
}

.font-gothic {
  font-family: "Special Gothic Expanded One", sans-serif;
}
